section.about.bg-gray
	.container
		h2.title Всё о заработке в move2earn проектах
		.swiper-container
			.swiper-button.swiper-button--next
			.swiper-button.swiper-button--prev
			.swiper.about-slider
				.swiper-wrapper
					.about-item.swiper-slide
						.about-item__content
							h3.about-item__title Быстрая прокачка кросовок — простой и понятный гайд
							a.about-item__link(href="#") Изи старт в STEPN
						img.about-item__img(src="img/about-img.jpg", alt="Быстрая прокачка кросовок — простой и понятный гайд" width="126" height="162")
					.about-item.swiper-slide
						.about-item__content
							h3.about-item__title Быстрая прокачка кросовок — простой и понятный гайд
							a.about-item__link(href="#") Изи старт в STEPN
						img.about-item__img(src="img/about-img.jpg", alt="Быстрая прокачка кросовок — простой и понятный гайд" width="126" height="162")
					.about-item.swiper-slide
						.about-item__content
							h3.about-item__title Быстрая прокачка кросовок — простой и понятный гайд
							a.about-item__link(href="#") Изи старт в STEPN
						img.about-item__img(src="img/about-img.jpg", alt="Быстрая прокачка кросовок — простой и понятный гайд" width="126" height="162")
					.about-item.swiper-slide
						.about-item__content
							h3.about-item__title Быстрая прокачка кросовок — простой и понятный гайд
							a.about-item__link(href="#") Изи старт в STEPN
						img.about-item__img(src="img/about-img.jpg", alt="Быстрая прокачка кросовок — простой и понятный гайд" width="126" height="162")