mixin faq(fText)
	li.faq-item
		a.faq-item__link(href="faq-page.html") 
			svg(viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M12.0001 4.08624C7.44167 4.08624 3.74634 7.78157 3.74634 12.34C3.74634 16.8984 7.44167 20.5937 12.0001 20.5937C16.5585 20.5937 20.2538 16.8984 20.2538 12.34C20.2538 7.78157 16.5585 4.08624 12.0001 4.08624ZM2.24634 12.34C2.24634 6.95315 6.61324 2.58624 12.0001 2.58624C17.3869 2.58624 21.7538 6.95315 21.7538 12.34C21.7538 17.7268 17.3869 22.0937 12.0001 22.0937C6.61324 22.0937 2.24634 17.7268 2.24634 12.34ZM11.9757 7.58766C13.6325 7.51535 15.0462 8.78337 15.1496 10.443C15.1506 10.4585 15.151 10.474 15.151 10.4896C15.151 11.5198 14.5925 12.4691 13.6918 12.9694L13.6918 12.9694L12.3643 13.707C12.0022 13.9081 11.5456 13.7777 11.3444 13.4156C11.1433 13.0535 11.2737 12.5969 11.6358 12.3957L12.9634 11.6582L12.9634 11.6582C13.3811 11.4261 13.6427 10.9892 13.6508 10.5126C13.5861 9.67533 12.8637 9.04058 12.0223 9.08717C11.9982 9.0885 11.974 9.08867 11.9498 9.08767C11.1835 9.05586 10.503 9.57387 10.3296 10.321C10.236 10.7245 9.83302 10.9757 9.42953 10.8821C9.02603 10.7884 8.77483 10.3855 8.86845 9.98196C9.20206 8.54413 10.5037 7.54362 11.9757 7.58766ZM12.6013 15.6405C12.4416 15.4809 12.2249 15.3913 11.9991 15.3916C11.5299 15.3922 11.1499 15.7728 11.1501 16.242C11.1503 16.7112 11.5306 17.0915 11.9998 17.0917C12.469 17.0919 12.8496 16.7119 12.8502 16.2427C12.8505 16.0169 12.7609 15.8002 12.6013 15.6405Z")
			span=fText

mixin faqCategory()
	.faq-category.col-sm-6.col-md-4
		h2.faq-category__title Заголовок раздела помощи
		ul.faq-category__list
			+faq('Что такое RAND')
			+faq('Как зарегистрироваться на бинанс')
			+faq('Что такое токен')
			+faq('Почему есть разница курсов')
			+faq('Как купить первый кросовок')
			+faq('Как это все работает')
		a.faq-link(href="faq-partition.html") Все вопросы раздела

	
mixin faqPartition()
	li.faq-partition__item
		a.faq-partition__link(href="faq-page.html") 
			h2.faq-partition__title Заголовок темы помощи
			p.faq-partition__text Криптокарта Vexel — это физическая карта с платежной системой Union Pay. С помощью этой карты вы сможете расплачиваться в терминалах, оплачивать покупки online и снимать наличные в банкоматах.