mixin pagination()
	nav.pagination
		ul.pagination-list
			li.pagination-item
				a.pagination-link.pagination-link--prev(href="#") 
			li.pagination-item
				a.pagination-link(href="#") 1
			li.pagination-item
				a.pagination-link.active(href="#") 2
			li.pagination-item
				a.pagination-link(href="#") 3
			li.pagination-item
				a(href="#") ...
			li.pagination-item
				a.pagination-link(href="#") 15
			li.pagination-item
				a.pagination-link.pagination-link--next(href="#") 