nav.nav
	ul.nav-list
		li.nav-item
			a.nav-link(href="#") Статьи
		li.nav-item
			a.nav-link(href="#") STEPN калькулятор
		li.nav-item
			a.nav-link(href="#") Faq
		li.nav-item
			a.nav-link(href="#") Таблица Mint
		li.nav-item
			a.nav-link(href="#") Таблица уровней
