nav.nav.nav-js
	.nav-wrapper
		ul
			li
				a(href="#") Статьи
			li
				a(href="#") STEPN калькулятор
			li
				a.active(href="faq.html") Faq
			li
				a(href="table.html") Таблица Mint
			li
				a(href="#") Таблица уровней
