.login
	a.login-link(href="#") Войти
	a.login-icon(href="#" style="background-image: url(img/icon-binance.svg)") 
	a.login-icon(href="#" style="background-image: url(img/icon-vk.svg)") 
	a.login-icon(href="#" style="background-image: url(img/icon-fb.svg)") 
	a.login-icon(href="#" style="background-image: url(img/icon-google.svg)") 