extends ../templates/faq-layout.pug
block vars
	- var title = 'Заголовок раздела помощи';
	- var description = 'Description';
block content
	.wrapper-bd
		article
			h1 Где посмотреть TXID транзакции?
			h2 Если вы хотите посмотреть TXID транзакции, вам нужно:
			p 1. Открыть главную страницу вашего 
				a(href="#") личного кабинета
			.media
				img.lazyload(data-src="img/faq-image-1.png", alt="")
			h2 Если вы хотите посмотреть TXID транзакции, вам нужно:
			p Каждый стол позволяет получить персональный доход от 225%. Каждый новый игрок приносит прибыль любому игроку. Так только вы получили 3 выплаты, ваше участие в игре на столе прекращается, и вам нужно заново купить доступ к столу. Вы можете принимать участие на всех столах одновременно. Все финансовые операции происходят только в криптовалюте USDT TRC-20. Срок обработки всех транзакций - моментально. Чтобы начать играть и зарабатывать, Вам нужно пополнить баланс в USDT TRC-20 и купить доступ на свой первый стол. Мы можем открыть новые столы с РАЗНЫМИ прибыльными условиями в любой момент, следите за Telegram.
			.media
				img.lazyload(data-src="img/faq-image-1.png", alt="")
		
			ul.mb-4
				li Каждый стол позволяет получить персональный доход от 225%. Каждый новый игрок приносит прибыль любому игроку.
				li Так только вы получили 3 выплаты, ваше участие в игре на столе прекращается, и вам нужно заново купить доступ к столу.
				li Вы можете принимать участие на всех столах одновременно.
				li Все финансовые операции происходят только в криптовалюте USDT TRC-20.
				li Срок обработки всех транзакций - моментально.
				li Чтобы начать играть и зарабатывать, Вам нужно пополнить баланс в USDT TRC-20 и купить доступ на свой первый стол.
				li Мы можем открыть новые столы с РАЗНЫМИ прибыльными условиями в любой момент, следите за Telegram.
			.media
				.video.bg-gray
					iframe.lazyload(data-src="https://www.youtube.com/embed/wQHK8VF8WHI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)