extends ../templates/faq-layout.pug
block vars
	- var title = 'Faq';
	- var description = 'Description';
block content
	//- //hero
	.faq-row.row
		+faqCategory()
		+faqCategory()
		+faqCategory()
		+faqCategory()
		+faqCategory()
		+faqCategory()
		+faqCategory()
	//- //End hero