extends ../templates/template
block vars
	- var title = 'Title';
	- var description = 'Description';
block content
	//- //hero
	//- include ../blocks/about/about.pug
	//- //End hero
	.section
		.container
			+select()
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex totam, hic officia accusamus voluptates laboriosam.
			+quantity()
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex totam, hic officia accusamus voluptates laboriosam.
			+quantity()