extends ../templates/template
block vars
	- var title = 'Таблицы';
	- var description = 'Description';
block content
	section.section
		.container
			h1.subtitle.text-green Uncommon 3<=GST<4
			.ovx-auto
				table.shadow.mb-5
					tbody
						tr
							td.td-green.fw-500 GST+GMT
							td.td-green.fw-500 0/7
							td.td-green.fw-500 1/7
							td.td-green.fw-500 2/7
							td.td-green.fw-500 3/7
							td.td-green.fw-500 4/7
							td.td-green.fw-500 5/7
							td.td-green.fw-500 6/7
							td.td-green.fw-500 7/7
						tr
							td.td-green.fw-500 0/7
							td.td-green.fw-500 120+80
							td.td-white 120+80
							td.td-white 150+100
							td.td-white 180+120
							td.td-gray 210+140
							td.td-white 180+120
							td.td-white 240+160
							td.td-white 240+160
						tr
							td.td-green.fw-500 1/7
							td.td-white 120+80
							td.td-green.fw-500 120+80
							td.td-white 150+100
							td.td-white 180+120
							td.td-gray 210+140
							td.td-white 180+120
							td.td-white 240+160
							td.td-gray 240+160
						tr
							td.td-green.fw-500 2/7
							td.td-white 120+80
							td.td-white 150+100
							td.td-green.fw-500 120+80
							td.td-white 180+120
							td.td-gray 210+140
							td.td-white 180+120
							td.td-white 240+160
							td.td-green.fw-500 240+160
						tr
							td.td-green.fw-500 3/7
							td.td-white 120+80
							td.td-white 150+100
							td.td-white 180+120
							td.td-green.fw-500 120+80
							td.td-gray 210+140
							td.td-white 180+120
							td.td-white 240+160
							td.td-blue 240+160
						tr
							td.td-green.fw-500 4/7
							td.td-gray 120+80
							td.td-gray 150+100
							td.td-gray 180+120
							td.td-gray 180+120
							td.td-green.fw-500 120+80
							td.td-white 210+140
							td.td-white 240+160
							td.td-orange 240+160
						tr
							td.td-green.fw-500 5/7
							td.td-white 120+80
							td.td-white 150+100
							td.td-white 180+120
							td.td-white 180+120
							td.td-white 210+140
							td.td-green.fw-500 120+80
							td.td-white 240+160
							td.td-white 240+160
						tr
							td.td-green.fw-500 6/7
							td.td-white 120+80
							td.td-white 150+100
							td.td-white 180+120
							td.td-white 180+120
							td.td-white 210+140
							td.td-white 240+160
							td.td-green.fw-500 120+80
							td.td-white 120+80
			.ovx-auto
				table.mt-4.mb-4
					thead
						tr
							th Повышение уровня
							th Количество часов
							th Общее время
							th Стоимость прокачки
							th Итоговоая цена прокачки
					tbody
						tr
							td.fw-500.td-gray 1
							td.td-white 1
							td.td-white 0 д, 01 ч. 00
							td.td-white 1 GST
							td.td-white 1 GST
						tr
							td.fw-500.td-gray 2
							td.td-white 2
							td.td-white 0 д, 03 ч. 00
							td.td-white 1 GST
							td.td-white 3 GST
						tr
							td.fw-500.td-gray 3
							td.td-white 3
							td.td-white 0 д, 06 ч. 00
							td.td-white 1 GST
							td.td-white 6 GST
						tr
							td.fw-500.td-gray 4
							td.td-white 4
							td.td-white 0 д, 10 ч. 00
							td.td-white 1 GST
							td.td-white 10 GST
						tr
							td.fw-500.td-gray 5
							td.td-white 5
							td.td-white 0 д, 15 ч. 00
							td.td-white 1 GST
							td.td-white 20 GST + 10 GMT