//form
mixin select()
	.select
		input.select-input(type="hidden" name="blockchain" value="BNB")
		.select-current
				i.select-item__icon(style="background-image: url(img/icon-bnb.svg)")
				span.select-item__text BNB
		.select-list
			.select-item.isactive(data-value="BNB") 
				i.select-item__icon(style="background-image: url(img/icon-bnb.svg)")
				span.select-item__text BNB
			.select-item(data-value="Solana") 
				i.select-item__icon(style="background-image: url(img/icon-solana.svg)")
				span.select-item__text Solana

mixin quantity(qId)
	.quantity(tabindex="1" if=qId)
		.quantity-btn.quantity-btn--left
		input.quantity-input(type="number" name="quantity" min="1" max="9" step="1" value="8")
		.quantity-btn.quantity-btn--right